global.global_log_dir=/home/oracle/autoupgrade/logs
install1.patch=RU:19.28,OPATCH,OJVM
install1.folder=/home/oracle/autoupgrade/patches
install1.target_home={{ oracle_home }}
install1.home_settings.oracle_base={{ oracle_base }}
install1.home_settings.edition=EE
install1.home_settings.inventory_location={{ oracle_inventory }}
install1.download=no