global.global_log_dir=/home/oracle/autoupgrade/logs
install1.patch=RU:19.28,OPATCH,OJVM
install1.folder=/home/oracle/autoupgrade/patches
install1.target_home=/u01/app/oracle/product/dbhome_1928
install1.home_settings.oracle_base=/u01/app/oracle
install1.home_settings.edition=EE
install1.home_settings.inventory_location=/u01/app/oraInventory
install1.download=no