set serveroutput on
declare
    l_found number := 0;
begin
    select
        count(*) into l_found
    from
        v$pdbs
    where
        name = 'PDB1';
    
    if l_found = 0 then
        execute immediate 'create pluggable database pdb1 admin user pdbadmin identified by {{ dba_password }} default tablespace users datafile size 1g';
        execute immediate 'alter pluggable database all open';
        execute immediate 'alter pluggable database all save state';
        dbms_output.put_line('successfully created PDB1');
    else
        dbms_output.put_line('PDB1 is already present, skipping');
    end if;
end;
/

exit;