set serveroutput on
whenever sqlerror exit 99
show con_name
show user

declare
    l_count number := 0;
begin
    select
        count(*) into l_count
    from
        dba_users
    where
        username = 'C##DBAPI_CDB_ADMIN';
    
    if l_count = 0 then

        execute immediate 'create user C##DBAPI_CDB_ADMIN identified by changeOnInstall';
        execute immediate 'grant sysdba to C##DBAPI_CDB_ADMIN container=all';

        dbms_output.put_line('C##DBAPI_CDB_ADMIN user has been successfully created');
    else

        dbms_output.put_line('C##DBAPI_CDB_ADMIN already present');
    end if;
end;
/

exit