---
- name: Automate all the things - DOAG 2025
  hosts: demo
  become: true
  tasks:
    # DBA password must be passed as an extra-variable
    - name: Ensure DBA password is available
      ansible.builtin.fail:
        msg: Make sure to pass the dba_password as an extra variable to the playbook
      when: dba_password is undefined

    - name: Check for Oracle Linux
      ansible.builtin.fail:
        msg: "This playbook requires Oracle Linux 9, this is  {{ ansible_distribution }} {{ ansible_distribution_major_version }}"
      when: ansible_distribution == "OracleLinux" and ansible_distribution_major_version != "9"

    - name: Ensure Intel x86-64
      ansible.builtin.fail:
        msg: "This playbook requires Oracle Linux 9, this is  {{ ansible_distribution }} {{ ansible_distribution_major_version }}"
      when: ansible_architecture != "x86_64"

    - name: Complete the host configuration
      ansible.builtin.include_role:
        name: hostconfig
      tags: hostconfig

    - name: Install Oracle Database release 19c and create a database
      ansible.builtin.include_role:
        name: database
      tags: database

    - name: Install and configure ORDS
      ansible.builtin.include_role:
        name: ords
      tags: ords
